In [1]:
import pandas as pd
import json

In [2]:
from auxiliary import calc_log_returns

In [3]:
with open('config.json') as file:
    config = json.load(file)

In [4]:
source_folder = config['files_folders']['source']
output_folder = config['files_folders']['processed']

# RTSI history

In [5]:
rtsi = pd.read_csv(f'{source_folder}/RI.RTSI_790101_211016.csv', sep=',')

In [6]:
(rtsi['<TICKER>'] != 'RI.RTSI').any()

False

In [7]:
(rtsi['<TIME>'] != '00:00:00').any()

False

In [8]:
rtsi.drop(columns=['<PER>', '<TIME>', '<TICKER>'], inplace=True)

In [9]:
rtsi['<DATE>'] = pd.to_datetime(rtsi['<DATE>'], format='%Y%m%d')

In [10]:
rtsi.set_index('<DATE>', inplace=True)

In [11]:
rtsi['return'] = rtsi['<CLOSE>'].pct_change(1)

In [12]:
rtsi['log return'] = calc_log_returns(rtsi['<CLOSE>'])  # rtsi['<CLOSE>'].rolling(2).apply(lambda values: np.log(values[1] / values[0])).copy()

In [13]:
rtsi = rtsi.iloc[1:].copy()

In [14]:
rtsi.isna().any()

<OPEN>        False
<HIGH>        False
<LOW>         False
<CLOSE>       False
<VOL>         False
return        False
log return    False
dtype: bool

In [15]:
rtsi

,<OPEN>,<HIGH>,<LOW>,<CLOSE>,<VOL>,return,log return
<DATE>,,,,,,,
2001-02-18,180.10,180.10,180.10,180.10,0,0.000000,0.000000
2001-02-19,180.10,181.21,176.67,177.29,0,-0.015602,-0.015725
2001-02-20,177.29,179.90,175.28,176.45,0,-0.004738,-0.004749
2001-02-21,176.45,176.45,161.12,162.39,0,-0.079683,-0.083037
2001-02-22,162.39,168.35,162.39,168.31,0,0.036455,0.035807
...,...,...,...,...,...,...,...
2021-10-11,1871.73,1883.71,1867.58,1882.43,1769145502,0.011537,0.011471
2021-10-12,1867.15,1876.79,1860.64,1869.94,1386130631,-0.006635,-0.006657
2021-10-13,1869.05,1869.05,1835.80,1855.11,1830447018,-0.007931,-0.007962
2021-10-14,1875.38,1890.46,1873.37,1875.97,1495256910,0.011245,0.011182
2021-10-15,1888.52,1893.71,1878.47,1891.56,1305644791,0.008310,0.008276

## dumping

In [16]:
rtsi.to_pickle(f'{output_folder}/rtsi.pkl')